@page {
	size: a4;
	margin: 12mm;
}
@media screen and (min-width: 1680px) {
	table {
		width: 40%;
		margin: 0 auto;
	}
	.border-dash{
		width: 40%;
	}
}
@media screen and (max-width: 1679px) and (min-width: 1280px){
	table {
		width: 54%;
		margin: 0 auto;
	}
	.border-dash{
		width: 54%;
	}
}
@media screen and (max-width: 1279px) and (min-width: 973px){
	table {
		width: 72%;
		margin: 0 auto;
	}
	.border-dash{
		width: 72%;
	}
}
@media screen and (max-width: 972px) and (min-width: 751px){
	table {
		width: 83%;
		margin: 0 auto;
	}
	.border-dash{
		width: 83%;
	}
}
@media screen and (max-width: 750px){
	table {
		width: 100%;
	}
	.border-dash{
		width: 100%;
	}
}
@media print {
	table {
		width: 100%;
	}
	#controller{
		display: none;
	}
	html, body {
		height: 100%;
	}
	.content, #content {
		height: 100%;
		display: block;
		position: relative;
		page-break-after: always;
	}
	.footer {
		position: absolute;
		bottom: 0;
	}
}
*{
	line-height: 1.2;
}
table {
	font-family: 微軟正黑體;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-collapse: collapse;
	table-layout:fixed;/*平均td的大小*/
}
table td{
	padding-top: 0px;
	padding-bottom: 0px;
}
tr {
	border-bottom: 2px solid black;
}
input[type="checkbox"] {
	width: 16px;
	height: 16px;
	margin: 0;
}
.higtlight{
	background-color: #f7fab6!important;
	-webkit-print-color-adjust: exact;
	font-size: 12px;
}
.table-title {
	font-weight: bold;
	font-size: 18px;
}
.table-bd-bottom{
	border-bottom: 3px solid black;
}
.table-bd-lr td{
	border-left: 2px solid black;
	border-right: 2px solid black;
}